Ciudadano-web/src/wsdl/localhost_8080/Ciudadano/Ciudadano.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ciudadano.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ciudadano.org/" name="Ciudadano">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ciudadano.org/" schemaLocation="http://localhost:8080/Ciudadano/Ciudadano?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<portType name="Ciudadano">
<operation name="update">
<input wsam:Action="http://ws.ciudadano.org/Ciudadano/updateRequest" message="tns:update"/>
<output wsam:Action="http://ws.ciudadano.org/Ciudadano/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://ws.ciudadano.org/Ciudadano/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://ws.ciudadano.org/Ciudadano/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws.ciudadano.org/Ciudadano/createRequest" message="tns:create"/>
<output wsam:Action="http://ws.ciudadano.org/Ciudadano/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.ciudadano.org/Ciudadano/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.ciudadano.org/Ciudadano/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://ws.ciudadano.org/Ciudadano/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://ws.ciudadano.org/Ciudadano/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
</portType>
<binding name="CiudadanoPortBinding" type="tns:Ciudadano">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Ciudadano">
<port name="CiudadanoPort" binding="tns:CiudadanoPortBinding">
<soap:address location="http://localhost:8080/Ciudadano/Ciudadano"/>
</port>
</service>
</definitions>